<a href="https://colab.research.google.com/github/missjaiswal/Spam-mail-detection/blob/main/Spam_mail_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [57]:
#data preprocessing
raw_mail_data=pd.read_csv("spam.csv",encoding='ISO-8859-1')
raw_mail_data

        v1  ... Unnamed: 4
0      ham  ...        NaN
1      ham  ...        NaN
2     spam  ...        NaN
3      ham  ...        NaN
4      ham  ...        NaN
...    ...  ...        ...
5567  spam  ...        NaN
5568   ham  ...        NaN
5569   ham  ...        NaN
5570   ham  ...        NaN
5571   ham  ...        NaN

[5572 rows x 5 columns]

In [58]:
 #replace the null value with a null string
 mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)))
 mail_data.shape

(5572, 5)

In [59]:
mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [60]:
#labeling spam mail as 1 and non-spam(ham) mail as 0

map={"ham":0,"spam":1}
mail_data["v1"]=mail_data["v1"].map(map)

In [61]:
#seperatin text data and label data as X--> text and y--> label
X=mail_data['v2']
y=mail_data['v1']

In [62]:
print( X)
print("..............")
print( y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
..............
0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [63]:
#splitting the data as train data and test data

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=4)

In [64]:
#transform the text data as feature vector that can be used as a input to the svm model using TfidfVectorizer
#convert the text data to lower case letter

feature_extraction=TfidfVectorizer(min_df=1, stop_words="english", lowercase=True)
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

In [65]:
#convert y_train and y_test to integer
y_train=y_train.astype("int")
y_test=y_test.astype("int")

In [66]:
#Training the model ---> SVM

model=LinearSVC()
model.fit(X_train_features, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [67]:
#Evaluation of the model
#prediction on training data

prediction_on_train_data=model.predict(X_train_features)
accuracy_on_train_data=accuracy_score(y_train, prediction_on_train_data)

In [68]:
print("Acuuracy on training data:", accuracy_on_train_data)

Acuuracy on training data: 0.9997756338344178

In [69]:
#prediction on test data
prediction_on_test_data=model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(y_test, prediction_on_test_data)

In [70]:
print("Acuuracy on testing data:", accuracy_on_test_data)

Acuuracy on testing data: 0.9847533632286996

In [71]:
#prediction on new mail

input_mail=["Aft i finish my lunch then i go str down lor. Ard 3 smth lor. U finish ur lunch already?"]

#converting text to feature vector
mail_feature_extraction=feature_extraction.transform(input_mail)

#making prediction

prediction=model.predict(mail_feature_extraction)
print(prediction)

if (prediction[0]==0):
  print("Ham mail")

else:
  print("Spam mail")

[0]
Ham mail